.main-container{
    margin-top: 40px;
  }
  
  /* Drop Zone */
  .drop-zone { 
      /* border: dotted 3px lightgray;  */
      border: dotted 3px rgb(250, 2, 2); 
      opacity: 0.5; 
      color: #666; 
      text-align: center 
  }
  
  .file-over { 
      border: dotted 3px dodgerblue; 
  }
  
  .table { 
      margin-top: 30px; 
  }
  
  .text-green { 
      color: green 
  }
  